/* TODO Add site wide styles */
html{
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.6);
}

.navbar--active {
    color: #FFFFFF;
}

.new-post--hidden{
    display: none;
}

.edit-post--hidden{
    display: none;
}

.comment:focus{
    height: 40px;
    outline: none;
}
